body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif; 
    background-image: url("/images/to_do.jpg");
    background-size: no-repeat;
    
}
input[type = "text"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f8f8f8;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
}
 .task {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }
 .completed {
    text-decoration: line-through;
    color: #ccc;
 }